name: Publish package to GitHub Packages
on: 
  release: 
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Auth & Checkout
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      uses: actions/checkout@v4
    - name: Setup node 
      uses: actions/setup-node@v3
      with:
        node-version: 18
        registry-url: https://npm.pkg.github.com/
    - name: Install
      run: npm ci
    - name: Publish
      run: npm publish
        
     
