name: Release please with Bot
on:
  push:
    branches: 
      - main
    paths-ignore:
      - '.github/workflows/*' 
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: auth
      - env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Use release-please
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: terraform-module 
          default-branch: main
