name: Release please with Bot
on:
  push:
    branches: 
      - main
    paths-ignore:
      - '.github/workflows/*' 
permissions:
  contents: write
  pull-requests: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Release
      uses: google-github-actions/release-please-action@v3
      with:
        token: ${{ secrets.PAT }}
        release-type: terraform-module
        package-name: '@romanpateichuk/hellopackage'
        default-branch: main
