name: Release please with Bot
on:
  push:
    branches: 
      - main
    paths-ignore:
      - '.github/workflows/*' 
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Release
      uses: google-github-actions/release-please-action@v3
      with:
        GITHUB_TOKEN: ${{ secrets.PAT }}
        release-type: terraform-module 
        default-branch: main
